@(reviews: List[model.Review], domain: String)

<div class="discussion__comments__container">
    <h2 class="page-sub-header discussion__heading js-visible">All reviews <span class="discussion__comment-count">(@reviews.size)</span></h2>

    <div class="discussion-container js-discussion-container">
        <div class="discussion__comments"><div class="c-comments d-discussion--partial" data-comment-count="@reviews.size">

            <div class="d-discussion d-discussion--not-staff d-discussion--recommendations-open u-cf" data-read-only="false">
                <div class="preload-msg d-discussion__loader u-h">Loading comments…<div class="is-updating"></div></div>
                <div class="discussion-content js-discussion-content">

                    <div class="js-new-comments"></div>
                    <ul class="d-thread d-thread--top-level">
                        @for(review <- reviews.filter(_.comment.isDefined)) {
                            <li class="d-comment u-cf d-comment--top-level" data-comment-author-id="@review.author" itemscope="" itemtype="http://schema.org/Review">
                                <div class="d-comment__inner">

                                    <div class="d-comment__meta">
                                        <span class="d-comment__avatar-wrapper">
                                            <!--img src="..." alt="" class="d-comment__avatar"-->
                                        </span>
                                        <div class="d-comment__meta-text">
                                            <span itemscope="" itemprop="author" itemtype="http://schema.org/Person" title="Bill Dedman" class="d-comment__author">
                                                <a href="https://profile.theguardian.com/user/id/@review.author.get" itemprop="url">
                                                    <span itemprop="givenName">@review.author.get</span>
                                                </a>
                                            </span>

                                            <div class="d-comment__timestamp">
                                                <time class="js-timestamp" itemprop="dateCreated" datetime="@review.createdAt">
                        @review.createdAt
                                                </time>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-comment__content">
                                        <div class="d-comment__recommend js-recommend-comment d-comment__recommend--active" data-comment-id="..." data-user-id="@review.author" data-recommend-count="..." title="0 recommendations - recommend this comment">
                                            <span class="d-comment__recommend-button">
                                                <span class="d-comment__recommend-pulse"></span>
                                                <i class="i i-recommend"></i>
                                            </span>
                                            <span class="d-comment__recommend-button">
                                                <span class="d-comment__unrecommend-pulse"></span>
                                                <i class="i i-unrecommend"></i>
                                            </span>
                                            <span class="d-comment__recommend-count js-recommend-count">
                                                <span class="d-review__recommend-count">@review.rating</span>
                                            </span>
                                        </div>

                                        <div class="d-comment__main">
                                            <div class="d-comment__body" itemprop="text">
                                                @review.comment.map(_.get).getOrElse("")
                                            </div>

                                            <div class="d-comment__actions">
                                                <div class="d-comment__actions__main sign-in-required">
                                                    <div class="d-comment__action d-comment__action--reply" data-link-name="reply to comment" data-comment-id="38113704" role="button">
                                                        <span class="d-comment__reply-button">
                                                            <i class="i i-reply-arrow-white"></i>
                                                        </span>
                                                        <span class="u-fauxlink d-comment__action--reply-text">Reply</span>
                                                    </div>

                                                    <span class="d-staff-required">
                                                        <span class="d-comment__action-separator">|</span>
                                                        <span class="u-fauxlink d-comment__action d-comment__action--pick" role="button" data-comment-id="38113704" data-comment-highlighted="false">Pick</span>
                                                    </span>
                                                </div>
                                                <div class="report-comment-container js-report-comment-container">
                                                    <a href="..." class="d-comment__action d-comment__action--report js-report-comment" data-comment-id="38113704" target="_blank">Report</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                            </li>
                        }
                    </ul>

                </div>

            </div>

        </div></div>
        <div class="discussion__comment-box discussion__comment-box--bottom u-cf"></div>
    </div>
    <div class="discussion__non-threaded js-discussion__non-threaded u-h"></div>
</div>